body{   
    background-color: #43C97D;
    background-repeat: no-repeat;
   background-attachment: auto fixed;

}
.friend{
    background-color: #82C29C;
    

}
.friend{
    text-transform: uppercase;
}